# DataTypes

In [55]:
# Numeric Data Types

In [56]:
# These data types are used to store numeric values.

# int: Represents integers (whole numbers without a decimal point).

In [57]:
num = 10
print(type(num))  # Output: <class 'int'>

<class 'int'>

In [58]:
# float: Represents floating-point numbers (numbers with a decimal point).

In [59]:
num = 3.14
print(type(num))  # Output: <class 'float'>

<class 'float'>

In [60]:
# complex: Represents complex numbers with real and imaginary parts.

In [61]:
num = 2 + 3j
print(type(num))  # Output: <class 'complex'>

<class 'complex'>

# Sequence Data Types

In [63]:
# str (String): A sequence of characters, enclosed in single, double, or triple quotes. Strings are immutable, meaning they cannot be changed after creation.

In [64]:
text = "Hello, World!"
print(type(text))  # Output: <class 'str'>

<class 'str'>

In [65]:
# list: A mutable, ordered sequence of elements, which can be of different data types. Lists are enclosed in square brackets [].

In [66]:
my_list = [1, 2, "apple", 3.5]
print(type(my_list))  # Output: <class 'list'>

<class 'list'>

In [67]:
# tuple: An immutable, ordered sequence of elements, which can also be of different data types. Tuples are enclosed in parentheses ().

In [68]:
my_tuple = (1, 2, "banana", 4.5)
print(type(my_tuple))  # Output: <class 'tuple'>

<class 'tuple'>

In [69]:
# range: Represents an immutable sequence of numbers. Often used in loops.

In [70]:
my_range = range(5)
print(type(my_range))  # Output: <class 'range'>

<class 'range'>

In [ ]:
# Mapping Data Type

In [72]:
# These types are used to store data in key-value pairs.

# dict (Dictionary): A mutable collection of key-value pairs. Keys must be unique, and the values can be of any data type.

In [73]:
my_dict = {"name": "Alice", "age": 25}
print(type(my_dict))  # Output: <class 'dict'>

<class 'dict'>

In [74]:
# Set Data Types
# Sets are used to store unordered collections of unique items.

# set: A mutable, unordered collection of unique items, enclosed in curly braces {}.

In [75]:
my_set = {1, 2, 3, 3, 4}
print(type(my_set))  # Output: <class 'set'>
# Output: {1, 2, 3, 4} (duplicates are automatically removed)

<class 'set'>

In [76]:
# frozenset: An immutable version of a set.

In [77]:
my_frozenset = frozenset([1, 2, 3])
print(type(my_frozenset))  # Output: <class 'frozenset'>

<class 'frozenset'>

In [78]:
# Boolean Data Type
# The Boolean type represents two values: True and False.

In [79]:
is_valid = True
print(type(is_valid))  # Output: <class 'bool'>

<class 'bool'>

In [80]:
# Binary Data Types
# These data types are used to work with binary data.

In [81]:
# bytes: Immutable sequence of bytes.

In [82]:
my_bytes = b"Hello"
print(type(my_bytes))  # Output: <class 'bytes'>

<class 'bytes'>

In [85]:
ny_bytes = b"HI,GUYS"
print(type(ny_bytes))

<class 'bytes'>

In [83]:
# bytearray: Mutable sequence of bytes.

In [84]:
my_bytearray = bytearray(5)
print(type(my_bytearray))  # Output: <class 'bytearray'>

<class 'bytearray'>

In [86]:
# memoryview: Allows the manipulation of memory directly without copying.

In [87]:
my_memoryview = memoryview(b"Hello")
print(type(my_memoryview))  # Output: <class 'memoryview'>

<class 'memoryview'>

In [88]:
print(my_memoryview)

<memory at 0x7ed75b8d6200>

In [89]:
# None Type
# Represents the absence of a value.

In [90]:
# NoneType: A special data type with only one value, None, which represents the absence of a value or a null value.

In [91]:
my_var = None
print(type(my_var))  # Output: <class 'NoneType'>

<class 'NoneType'>

In [92]:
# Summary of Data Types in Python:
# Numeric: int, float, complex
# Sequence: str, list, tuple, range
# Mapping: dict
# Set: set, frozenset
# Boolean: bool
# Binary: bytes, bytearray, memoryview
# NoneType: None

In [3]:
# type casting

In [14]:
# 1. What is type casting in Python?
# Answer: Type casting is the process of converting one data type into another. In Python, type casting can be done either implicitly (automatically by Python) or explicitly (manually by the programmer)

In [15]:
# 2. What is implicit type casting in Python?
# Answer: Implicit type casting occurs when Python automatically converts one data type into another without the user’s intervention. For example, Python converts an integer to a float if necessary during arithmetic operations.

In [16]:
num_in = 10
num_float = 20.10
result = num_in + num_float
result

30.1

In [ ]:
# What is explicit type casting in Python?
# Answer: Explicit type casting is when you manually convert one data type into another using functions like int(), float(), str(), etc.

In [17]:
a = 36
b = float(a)
b

36.0

In [19]:
# 4. How do you convert a float to an integer in Python?
# Answer: You can convert a float to an integer using the int() function. Note that this will remove the decimal part (truncate), not round the number.

In [18]:
c = int(b)
c

36

In [ ]:
# 5. What happens when you cast a string containing non-numeric characters to an integer?
# If you try to cast a string containing non-numeric characters to an integer using int(), Python will raise a ValueError.

In [20]:
num_float = "abc"
num_float = int(num_float)
type(num_float)

ValueError: invalid literal for int() with base 10: 'abc'

In [21]:
# How do you convert an integer to a string in Python?
# You can convert an integer to a string using the str() function.

In [22]:
int_in = 10
str_out = str(int_in)
type(str_out)

str

In [23]:
#  How do you convert a list to a tuple in Python?
#  You can convert a list to a tuple using the tuple() function.

In [24]:
my_list = [1, 2, 3]
tuple_out = tuple(my_list)
type(tuple_out)

tuple

In [27]:
# value store inside the variable called varible

In [25]:
# How do you convert a tuple to a list in Python?
# Answer: You can convert a tuple to a list using the list() function.

In [29]:
tuple_in = (10,20,30)
list_out = list(tuple_in)
type(list_out)

list

In [30]:
# How do you cast a boolean to an integer in Python?
# You can convert a boolean to an integer using the int() function. True is cast to 1, and False is cast to 0.

In [31]:
# print(int(True))
print(int(True))

1

In [32]:
print(int(False))

0

In [34]:
# How do you convert a string containing a float to a float type?
# You can convert a string containing a floating-point number to a float type using the float() function.

In [35]:
str_float_in = "10.2"
float_out = float(str_float_in)
type(float_out)

float

In [37]:
num_str = "3.14"
num_float = float(num_str)
print(num_float)  # Output: 3.14
type(num_float)

3.14

float

In [38]:
# Can you convert a list directly to a dictionary in Python?
# No, you cannot directly convert a list to a dictionary. However, you can convert a list of tuples (key-value pairs) into a dictionary using the dict() function.

In [40]:
list_in = [1,2,3,4,5,6]
dict_out = dict(list_in)
print(dict_out)
print(type(dict_out))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [39]:
list_in  = {"ajeet":1,"Suraj":2}
dict_out = list(list_in)
print(type(dict_out))
print(dict_out)

<class 'list'>
['ajeet', 'Suraj']

In [ ]:
# How do you convert a set to a list in Python?
# You can convert a set to a list using the list() function.

In [41]:
set_in = {1,2,3,4}
type(set_in)

set

In [42]:
list_out = list(set_in)
print(list_out)
print(type(list_out))

[1, 2, 3, 4]
<class 'list'>

In [ ]:
# How do you convert a list of strings to a list of integers in Python?
# You can use list comprehension to convert a list of strings to a list of integers.

In [43]:
str_list = ['1', '2', '3']
str_int = [int(i) for i in str_list]
print(str_int)
print(type(str_int))

[1, 2, 3]
<class 'list'>

In [44]:
# What is the result of casting a float to a boolean in Python?
# When casting a float to a boolean using the bool() function, any non-zero value becomes True, while 0.0 becomes False.

In [45]:
float_in = 10.20
bool_out = bool(float_in)
print(bool_out)
print(type(bool_out))

True
<class 'bool'>

In [46]:
print(bool(0))
print(bool(3.14))

False
True

In [48]:
# String

# String

In [47]:
# What is the result of casting a float to a boolean in Python?
# When casting a float to a boolean using the bool() function, any non-zero value becomes True, while 0.0 becomes False.

In [49]:
str1 = 'Hello,World!'# Using single quotes
str1

'Hello,World!'

In [51]:
# Using double quotes
str2 = "Python is great!"
str2 = "Python is great!"

In [52]:
# Using triple quotes for multi-line strings
str3 = """This is multiline
          comment"""
str3

'This is multiline\n          comment'

In [54]:
str3 = '''This is a
multi-line string.'''
str3

'This is a \nmulti-line string.'

# len