# Varibles

In [ ]:
Variables are used to store the value

a python variable is only name given to a memory location

In [6]:
10

10

In [7]:
10+20

30

In [8]:
20/10

2.0

In [9]:
10*10

100

In [4]:
a = 20
print(a)

20

In [5]:
a = 30
print(a)

30

In [6]:
a = 30
print(a)

30

In [4]:
a = 50
print(a)

50

In [8]:
type(a)

int

In [3]:
type(a)

int

# Rules to define an Variable

In [ ]:
Identifiers  >> Variables, Function Name , Class Name

1. A variable must be starts with a letter (a-z,A-Z) or the underscore(_)

2. Variable names are case sensitive.

3. A variable names can only contain alpha-numeric characters and underscore (A-Z,a-z,0-9,_)

4. We can not use special character (@,#,$,^,&) or space

5. We can not use reserved Words

6.Do not use python built in functions >> Print, help,sum, min, max,...

    Python Built in Function >> Light green Colour >> print, help,sum, min, max,...
    Python reserved Words    >> Bold Green Colour  >> True,False,import,if, else,....


del    >> Used to delete variable
type() >> Type is function used to check datatype of any varible

In [11]:
a = 10
print(A)

NameError: name 'A' is not defined

In [13]:
myVar = 'Python'
print(myVar)

Python

In [15]:
print(MyVar)

NameError: name 'MyVar' is not defined

In [17]:
my@Var = 'Python'
print(my@Var)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2577208337.py, line 1)

In [19]:
123myVar = 'Python'
print(123myVar)

SyntaxError: invalid decimal literal (544154572.py, line 1)

In [21]:
_123myVar = 'Python'
print(_123myVar)

Python

In [23]:
my_Var = 'Python'
print(my_Var)

Python

In [25]:
my Var = 'Python'
print(my Var)

SyntaxError: invalid syntax (2163909101.py, line 1)

In [27]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [29]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [31]:
min(list1)

1

In [33]:
min = 10
print(min)

10

In [35]:
list1 = [1,2,3,4]
min(list1)

TypeError: 'int' object is not callable

In [37]:
type(min)

int

In [39]:
del min

In [41]:
type(min)

builtin_function_or_method

In [ ]:
name  # Valid
Name #Valid
1name # Invalid
name123 ##Valid
__name #Valid

# Types of Varibles

In [ ]:
1. Local Variable
2. Global Varibale

global keyword >> Used to convert local variable to Global Veriale

In [44]:
a  = 20 # Global variable
a

20

In [46]:
def my_fun():
    x1 = 20 # Local Variable
    y1 = 30
    print(f'x1 =={x1},y1 == {y1}')

In [11]:
def test_fun():
    x1 = 50
    x2 = 10
    print(f'x1 == {x1} ,x2 =={x2}')
test_fun()

x1 == 50 ,x2 ==10

In [48]:
my_fun()

x1 ==20,y1 == 30

In [50]:
my_fun()

x1 ==20,y1 == 30

In [52]:
x1

NameError: name 'x1' is not defined

In [54]:
a

20

In [60]:
city = 'Pune' # Global Varibale
print("City is:",city)

def my_fun():
    x1 = 20 # Local Variable
    y1 = 30
    print(f'x1 =={x1},y1 == {y1}')
    print("City is:",city)

City is: Pune

In [62]:
my_fun()

x1 ==20,y1 == 30
City is: Pune

In [64]:
def my_fun():
    global x1  # We can access it outside the function
    x1 = 20 # Local Variable
    y1 = 30
    print(f'x1 =={x1},y1 == {y1}')
    print("City is:",city)

In [68]:
my_fun()

x1 ==20,y1 == 30
City is: Pune

In [70]:
x1

20